* {
	user-select: none;
	text-transform: uppercase;
}

button:hover, a:hover {
	cursor: pointer !important;
}

button:focus, button:active, select:focus, select:active{
	box-shadow: none !important;
	outline: none !important;
}

button[value=login], button[value=cadastrar] {
	width: 50%;
	border: none;
	color: #3f927e;
	background: white;
	padding: 7px 0px !important;
}

.btn-topo button:last-child span{
	border-left: .5px solid #3f927e;
}

.btn-topo button:first-child span{
	border-right: .5px solid #3f927e;
}

.btn-topo {
	width: 100%;
}

.btn-topo a:hover, .btn-topo button:hover {
	background: #3f927e;
}

.btn-topo a:hover span, .btn-topo button:hover span {
	color: white;
}

header form {
	border-radius: 0px !important;
	height: 30px;
	border: 1px solid #3f927e;
	border-right: none;
	padding: 0px 0px 5px 7px!important
}


input[name=pesquisa] {
	width: 90%;
	border: none;
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-input-placeholder {
	color: #333 !important;
}


input[name=pesquisa]:focus {
	color: #333 !important;
	outline: none;
}

button[value=pesquisar] {
	background: white;
	color: #333 !important;
	height: 28px;
	width: 10%;
	padding-right: 0px;
	border-radius: 0px;
}

button[value=pesquisar]:hover {
	color: white !important;
	background: #3f927e;
}

.carrinho span:first-child{
	color: #3f927e;
}

.barra-topo {
	background: #fff;
	height: auto;
	overflow:hidden;
	transition: margin-top .5s cubic-bezier(.16,.74,.47,.92);
}

.idiomas {
	height: 28px;
}

.barra-topo.nodropped {
	margin-top: ;
}

.barra-topo.dropped{
	margin-top:  0px !important;
}

.fonte-normal {
	text-transform: none !important;
	user-select: text !important;
}

.carrinho button{
	height: 30px;
}

.barra-topo select {
	font-size: .8em;
	text-transform: uppercase;
	border: 1px solid #3f927e;
	color: #3f927e;
	font-weight: 100;
	cursor: pointer;
}

.carrinho select:hover {
	opacity: .5;
}

#mostrar{
	transition: all .5s ease-in-out;
	color: white;
	background: none;
}

.rotated{
	transform: rotate(180deg);
}

.carrinho span {
	font-weight: 500;
}

#itens {
	color: black;
}

.barra-topo .botao-user {
	color: #3f927e;
	font-weight: 500;
}

.botao-user:hover {
	color: white;
}

.btn-comprar p {
	color: white;
}

.btn-comprar {
	opacity: 1;
	background-color: #3f927e;
	border: none;
	transition: background 1s ease-in-out;
}

.btn-comprar:hover {
	background: #5fc5af !important;
}


.logo-pesquisa {
	background-color: #3f927e;
	box-shadow: 0px 1px 5px -2px black inset;
	transition: margin-top .5s cubic-bezier(.16,.74,.47,.92);
}

ul li img {
	height: 20px;
	padding: 0px 3px;
	transition: all .3s ease-in-out;
}

ul li img:hover {
	padding: 0px;
	height: 26px;
	opacity: .7;
}

.btn-topo {
	height: 25px;
}

.btn-seta-topo {
	background: none !important;
	border: none !important;
	color: white !important;
}

#slide {
	height: 35vw;
	overflow: hidden;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.btn-slide {
	height: 100%;
	width: 30px;
	background: rgba(0, 0, 0, .1);
	color: white;
	text-shadow: 0px 1px 6px white;
	position: absolute;
	z-index: 5;
}

.img-slide{
	position: absolute;
	transition: opacity .5s ease-in-out;
	opacity: 0;
	box-shadow: inset 10px 10px 40px black;
}

.img-slide.ativa {
	left: 0px !important;
	right: 0px !important;
	opacity: 1;
}

.imagem-slide{
	width: 100vw !important;
	height: 35vw;
}

#slide-left {
	left: 0px !important;
}

#slide-right {
	right: 0px !important;
}

.posicao {
	z-index: 3;
	position: absolute;
	bottom: 10px;
	left: 0;
}

.btn-posicao-slide {
	background: white;
	height: 100%;
	box-shadow: 0px 1px 6px white;
}

.btn-posicao-slide:hover {
	opacity: 1!important;
}

.btn-posicao-slide.ativo {
	box-shadow: 0px 1px 6px #3f927e;
	background: #3f927e;
	transition: all .7s ease-in-out;
}

.barra-links {
	box-shadow: 0px 1px 5px -2px inset;
	background: #276d5c;
}

.link-site {
	color: white;
	transition: color .5s ease-in-out;
}
.link-site:hover {
	color: #5fc5af;
}

.slide-fundo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../imagens/pt1.png");
	background-repeat: repeat;
	opacity: .3;
	z-index: 2;
}

.produto{
	border: 1px solid #3f927e;
	background: white;
}

.produto-nome {
	border-bottom: 1px solid black;
}

.produto button {
	background: #3f927e;
	border: none;
	transition: background 1s ease-in-out;
}

.produto button:hover {
	background: #5fc5af;
}

.footer-site {
	box-shadow: 0px 1px 5px -2px black inset;
	background: #276d5c;
	color: white;
	text-shadow: -.1px .5px .1px black;
}

.icones button {
	min-width: 30px;
	min-height: 30px;
}

.direitos {
	box-shadow: 0px 1px 5px -2px black inset;
	background-color: #205b4d;
}

.icones button{
	margin: 5px;
	background-color: #eee;
	box-shadow: -.1px .5px .1px black;
	transition: all .5s ease-in-out;
}

.face:hover {
	background: #3b5998;
	color: #ecf0f1 !important;
}

.insta:hover {
	background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
	color: #ecf0f1;
}

.snap:hover {
	background: #fffc00;
	color: #ecf0f1;
}

.item-fale {
	background: none;
	border: none;
}

.footer-titulo {
	border-bottom: 1px solid white;
}

.copy {
	font-size: 12px;
}

.pagamento {
	font-size: 1.5em;
}

.produto-feminino button, .btn-feminino {
	background: #D2527F;
	color: white;
}

.produto-feminino {
	border: 1px solid black !important;
	transition: background 1s ease-in-out;
}

.produto-feminino button:hover, .femininos .ver-todos p:hover, .btn-feminino:hover {
	color: white;
	background: #DB0A5B;
}

.produto-masculino button, .btn-masculino {
	background: #59ABE3;
	color: white;
}

.produto-masculino {
	border: 1px solid black !important;
	transition: background 1s ease-in-out;
}

.produto-masculino button:hover, .masculinos .ver-todos p:hover, .btn-masculino:hover {
	color: white;
	background: #1E8BC3;
}

.femininos .ver-todos p{
	background-color: #D2527F;
	color:  white;
}

.masculinos .ver-todos p{
	background-color: #59ABE3;
	color:  white;	
}

hr {
	border-color: grey;
}

.produto-comprar, .btn-padrao {
	background: #3f927e !important;
	background-color: #3f927e !important;
	border: none !important;
	transition: background 1s ease;
	color: white !important;
}

.produto-comprar:hover, .btn-padrao:hover{
	background: #5fc5af !important;
	background-color: #5fc5af !important;
}

.titulo-modal {
	font-weight: 900;
	color: #3f927e;
}

.btn-produto {
	height: 5px;
	top: 140px;
	width: 30px;
	color: black;
	background: none;
	text-shadow: 0px 1px 6px white;
	position: absolute;
	z-index: 5;
}

.btn-direita {
	right: 0;
}

.btn-esquerda {
	left: 0;
}

.item-sobre {
	background: #276d5c;
}

.item-sobre p {
	text-indent: 50px;
	color: white;
}

.indent-0 {
	text-indent: 0px !important;
}

 .item-sobre h2, .item-sobre label  {
 	color: white;
 }

.item-feminino {
	background: #D2527F;
}

.card-feminino {

}

.card-feminino a {
	background: #D2527F;
	border:  none;
	transition: background 1s ease-in-out;
}

.card-feminino a:hover {
	background: #DB0A5B;
}

.titulo-feminino {
	color: #D2527F;
}

.item-masculino {
	background: #59ABE3;
}

.card-masculino {

}

.card-masculino a {
	background: #59ABE3;
	border:  none;
	transition: background 1s ease-in-out;
}

.card-masculino a:hover {
	background: #1E8BC3;
}

.titulo-masculino {
	color: #59ABE3;
}

.tabela-topo {
	background: #3f927e !important;
	color: white;
	font-weight: 900;
}

.linha-tabela {
	max-height: 20px !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

.estrela {
	color: white;
	margin-top: 0px;
	padding-top: 0px;
}

.comentario {
	border: 1px solid gray;
}

.btn-padrao {
	background: #3f927e !important;
	color: white;
	border: none;
	outline: none;
}

.btn-padrao:hover {
	color: white;
	cursor: pointer;
	background: #5fc5af !important;
}

#barraSenha {
	width: .1%;
	background-color: red;
	transition: all 2s ease;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#endereco {
	display: none;
}

.fa-star, .fa-star-o {
	color: gold !important;
}

.fa-star:hover, .fa-star-o:hover{
	cursor: pointer;
}

.jumbotron textarea {
	min-height: 150px;
}

.item-administrativo {
	height: 10vw;
	line-height: 10vw;
}

.item-administrativo:hover{
	text-decoration: none;
}

.validacaoInput {
	background: white;
	border-left: 0px;
}

.inputValidacao {
	border: 1px solid white;
	border-right: 0px;
}

.acessar-painel {
	position: fixed;
	bottom: 3px;
	right: 20px;
	z-index: 100;
}

.item-produto:hover {
	cursor: pointer !important;
	color:  gray;
}

.sem-fundo {
	background: none;
	border: none;
}

.sem-fundo:hover {
	background: none !important;
}

.cor-branca {
	color: white;
}